TW_API_KEY=
NEXT_PUBLIC_PRIVY_APP_ID=
PLATFORM_SECRET=
CLINIC_SECRET=
ARBITER_SECRET=
REGISTRY_CONTRACT_ID=
CLINIC_NAME=Bosphorus Dental & Aesthetics
CLINIC_COUNTRY=TR
APPROVAL_WINDOW_MINUTES=2
PLATFORM_FEE_PERCENT=1
TW_PROTOCOL_FEE_PERCENT=0.3
